<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DevExpress Feed" value="https://nuget.devexpress.com/tHPja4mJLdp1Sm7Wv3xumMzaTQbNQVR3A7e8SV9ev2zGPwwC6S/api/v3/index.json" />
  </packageSources>
</configuration>